{% extends 'default.html' %}
{% load auth_extras %}
{% load bootstrap5 %}
{% block bootstrap_css %}{% bootstrap_css %}{% bootstrap_javascript %}{% endblock bootstrap_css %}

{% block content %}

<h5 class="center">Data of the Selected Machine:</h5>

<div class="center">
    <table style="border-bottom: none; border-top: none;">
    <tr><td>Machine Factory Number:</td><td>{{ car.factory_number }}</td></tr>
    <tr><td>Technique Model:</td><td><a href="#" data-bs-toggle="modal" data-bs-target="#technique_model">
        <b>{{ car.technique_model }}</b></a></td></tr>
    <tr><td>Engine Model:</td><td><a href="#" data-bs-toggle="modal" data-bs-target="#engine_model">
        <b>{{ car.engine_model }}</b></a></td></tr>
    <tr><td>Engine Factory Number:</td><td>{{ car.engine_number }}</td></tr>
    <tr><td>Transmission Model:</td><td><a href="#" data-bs-toggle="modal" data-bs-target="#transmission_model">
        <b>{{ car.transmission_model }}</b></a></td></tr>
    <tr><td>Transmission Factory Number:</td><td>{{ car.transmission_number }}</td></tr>
    <tr><td>Drive Axle Model:</td><td><a href="#" data-bs-toggle="modal" data-bs-target="#drive_axle_model">
        <b>{{ car.drive_axle_model }}</b></a></td></tr>
    <tr><td>Drive Axle Factory Number:</td><td>{{ car.drive_axle_number }}</td></tr>
    <tr><td>Steerable Axle Model:</td>
        <td><a href="#" data-bs-toggle="modal" data-bs-target="#steerable_axle_model">
            <b>{{ car.steerable_axle_model }}</b></a></td></tr>
    <tr><td>Steerable Axle Factory Number:</td><td>{{ car.steerable_axle_number }}</td></tr>
    <tr><td>Supply Contract Number, Date:</td><td>{% if car.supply_contract %}{{ car.supply_contract }}
        {% else %}Not Available{% endif %}</td></tr>
    <tr><td>Date of Shipment from the Factory:</td><td>{% if car.date_of_shipment_from_the_factory %}
        {{ car.date_of_shipment_from_the_factory|date:"d.m.Y" }}{% else %}Not Available{% endif %}</td></tr>
    <tr><td>Consignee:</td><td>{% if car.consignee %}{{ car.consignee }}{% else %}Not Available{% endif %}</td></tr>
    <tr><td>Delivery Address (Usage):</td><td>{% if car.delivery_address %}{{ car.delivery_address }}
        {% else %}Not Available{% endif %}</td></tr>
    <tr><td>Equipment (Additional Options):</td><td>{% if car.equipment %}{{ car.equipment }}{% else %}Not Available
        {% endif %}</td></tr>
    <tr><td>Client:</td><td>{% if car.client %}{{ car.client }}{% else %}Not Available{% endif %}</td></tr>
    <tr><td>Service Organization:</td><td>{% if car.service_company %}<a href="#" data-bs-toggle="modal" data-bs-target="#service_company"><b>{{ car.service_company }}</b></a>{% else %}Not Available
        {% endif %}</td></tr>
    </table>
</div>

<br>
<div class="center">
    <a href="{% url 'info' %}" class=" button medium">Back</a>
    {% if perms.silant.change_car %}
        <a href="{{ request.path }}/edit" class="button medium">Edit</a>
    {% endif %}
    {% if perms.silant.delete_car %}
        <a href="{{ request.path }}/delete" class="button medium">Delete</a>
    {% endif %}
</div>

<div class="modal" tabindex="-1" id="technique_model">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Description from the Directory:<br><br>
        {% if car.technique_model.description %}
            {{ car.technique_model.description }}
        {% else %}
            Description not available :(
        {% endif %}
        <br><br><button type="button" class="button medium" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="engine_model">
  <div class modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Description from the Directory:<br><br>
        {% if car.engine_model.description %}
            {{ car.engine_model.description }}
        {% else %}
            Description not available :(
        {% endif %}
        <br><br><button type="button" class="button medium" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="transmission_model">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Description from the Directory:<br><br>
        {% if car.transmission_model.description %}
            {{ car.transmission_model.description }}
        {% else %}
            Description not available :(
        {% endif %}
        <br><br><button type="button" class="button medium" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="drive_axle_model">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Description from the Directory:<br><br>
        {% if car.drive_axle_model.description %}
            {{ car.drive_axle_model.description }}
        {% else %}
            Description not available :(
        {% endif %}
        <br><br><button type="button" class="button medium" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="steerable_axle_model">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Description from the Directory:<br><br>
        {% if car.steerable_axle_model.description %}
            {{ car.steerable_axle_model.description }}
        {% else %}
            Description not available :(
        {% endif %}
        <br><br><button type=" button medium" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="service_company">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Description from the Directory:<br><br>
        {% if car.service_company.description %}
            {{ car.service_company.description }}
        {% else %}
            Description not available :(
        {% endif %}
        <br><br><button type="button" class="button medium" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
