{% extends 'default.html' %}
{% load bootstrap5 %}
{% block bootstrap_css %}{% bootstrap_css %}{% endblock bootstrap_css %}
{% load auth_extras %}


{% block content %}
<h4 class="center">Параметры машины:</h4>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="center">
            {% buttons %}
            <a class="button medium" href="{% url 'info' %}" role="button">Отмена</a>
            <button type="submit" class="button medium">Сохранить</button>
            {% endbuttons %}
        </div>
    </form>

{% endblock content %}