{% extends 'default.html' %}
{% load auth_extras %}

{% block content %}
    <h4 class="center">Directory "{{ name }}"</h4>
    <div class="center">
        {% if name == "Service Company" %}
            <p><b>A new entry in this directory will be created when an account belonging to the "service" group is created.</b></p>
        {% else %}
            <a class="button slim" style="color:red" href="{{ request.path }}{{ item.id }}create/" role="button">Create a new entry</a>
        {% endif %}
    </div>
    <table>
        <tr><th>Name:</th>
            <th>Description:</th>
            <th>Edit:</th>
        </tr>
        {% for item in list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td><a class="button slim" style="padding:0 10"
                       href="{{ request.path }}{{ item.id }}/edit/" role="button">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <div class="center">
       <a class "button medium" href="{% url 'reference_book' %}" role="button">Back</a>
    </div>

{% endblock content %}
