{% extends 'default.html' %}
{% load auth_extras %}

{% block content %}
    <h4 class="center">Справочник "{{ name }}"</h4>
    <div class="center">
        {% if name == "Сервисная организация" %}
            <p><b>Новая запись в справочнике появится при создании аккаунта,<br> принадлежащего к группе "service" </b></p>
        {% else %}
            <a class="button slim" style="color:red" href="{{ request.path }}{{ item.id }}create/" role="button">Создать новую запись</a>
        {% endif %}
    </div>
    <table>
        <tr><th>Наименование:</th>
            <th>Описание:</th>
            <th>Редактирование:</th>
        </tr>
        {% for item in list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td><a class="button slim" style="padding:0 10"
                       href="{{ request.path }}{{ item.id }}/edit/" role="button">Изменить</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <div class="center">
       <a class="button medium" href="{% url 'reference_book' %}" role="button">назад</a>
    </div>

{% endblock content %}