html {
  font-size: 15px;
}
.wrapper {
    width: 340px;
}

.header_top {
    -webkit-flex-direction: column-reverse; /* Safari 6.1+ */
    flex-direction: column-reverse;
    justify-content: center;
}


.button.slim {
    font-size: 11px;
}
.left-right {
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
}