<table>
        <tr>
            <th><a href="?order_by=factory_number">Machine Number</a><br>
                <a href="?order_by=technique_model">Technique Model</a></th>
            <th><a href="?order_by=technique_model">Technique Model</a></th>
            <th><a href="?order_by=engine_model">Engine Model</a></th>
            <th><a href="?order_by=engine_number">Engine Number</a></th>
            <th><a href="?order_by=transmission_model">Transmission Model</a></th>
            <th><a href="?order_by=transmission_number">Transmission Number</a></th>
            <th><a href="?order_by=drive_axle_model">Drive Axle Model</a></th>
            <th><a href="?order_by=drive_axle_number">Drive Axle Number</a></th>
            <th><a href="?order_by=steerable_axle_model">Steerable Axle Model</a></th>
            <th><a href="?order_by=steerable_axle_number">Steerable Axle Number</a></th>
            <th><a href="?order_by=supply_contract">Supply Contract Number, Date</a></th>
            <th><a href="?order_by=date_of_shipment_from_the_factory">Date of Shipment from the Factory</a></th>
            <th><a href="?order_by=consignee">Consignee</a></th>
            <th><a href="?order_by=delivery_address">Delivery Address (Usage)</a></th>
            <th><a href="?order_by=equipment">Equipment (Additional Options)</a></th>
            <th><a href="?order_by=client">Client</a></th>
            <th><a href="?order_by=service_company">Service Organization</a></th>
        </tr>
</table>
    
        {% for car in cars %}
            <tr class="table_tr" >
                <td><a href="/info/{{ car.id }}">{{ car.factory_number }}</a><br>
                    <a href="/info/{{ car.id }}">{{ car.technique_model }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.technique_model }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.engine_model }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.engine_number }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.transmission_model }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.transmission_number }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.drive_axle_model }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.drive_axle_number }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.steerable_axle_model }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.steerable_axle_number }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.supply_contract }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.date_of_shipment_from_the_factory|date:"d.m.Y" }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.consignee }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.delivery_address }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.equipment }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.client }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.service_company }}</a></td>
            </tr>
        {% endfor %}
        </table>