{% load auth_extras %}
{% if user.is_authenticated %}
<!--    <div class="div_full_horizontal_content_space_around">-->
    <div class="center">
        <div><b>Login:</b> {{ user.username }}&emsp;</div>
        <div>
            <b>Role:</b>
            {% if request.user|has_group:"client" %}
                Client
            {% elif request.user|has_group:"service" %}
                Service Company
            {% elif request.user|has_group:"manager" %}
                Manager
            {% elif request.user|has_group:"admin" %}
                Administrator
            {% endif %}
        </div>
    </div>
{% else %}
        <div class="center"><p>You are not authenticated</p></div>
{% endif %}
